CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL, 
	[FilmID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [text],
	feedback_date DATETIME DEFAULT GETDATE(),
	CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
	(
		[FeedbackID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY];
